body{
	font-family: 'Gloria Hallelujah', cursive;
}


img {
    width: 150px;
    height: 150px;
}

#header{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px;
}

.page-header{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px;
}

.panel-title{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;

}

.panel-body{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.crystal{
	height: 100px;
	width: 100px;
}

/*.crystal{
	 display:block;
	margin-left: auto; 
	margin-right: auto;
} */

