body {
	font-family: 'Gloria Hallelujah', cursive;
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

img {
	width: 150px;
	height: 150px;
}

#header {
	color: #7733ff;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px;
}

.page-header {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px;
}

.panel-title {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.panel-body {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.crystal {
	height: 100px;
	width: 100px;
}

#instructions {
	font-size: 16px;
}

#number-to-guess {
	color: #7733ff;
}

@media only screen and (max-width: 600px) {
	.hdr{
		display: none;
	}

	.main-inst{
		display: none;
	}

	#header{
		font-size: 1.75rem;
	}

	#instructions{
		font-size: 1.25rem;
	}
}